<div class="container">
  <h2>History Book</h2>
  <aside class="">
    <h2><a href="/users/<%= artwork.createdBy.id %>"><%= artwork.createdBy.username %></a></h2>
    <img class="card-img-top" src="<%= artwork.imageSRC %>">
    <div data-keywords="<%= keywords %>">
      <% keywords.forEach((keyword) => { %>
        <p><%= keyword %></p><br>
        <% }) %>
      </div>
    </aside>

    <div class="text-center">

    </div>
  </div>


  <%# ----------------------------------APPEND HISTORYS HERE FOR NOW%>


  <%# --------------------------------------FEATURED IMAGE INFO BOX FROM BOOTY----%>
