<% artworks.forEach((artwork) => { %>
  <div class="card">
    <a href="/artworks/<%= artwork.id %>">
      <img class="card-img-top" src="<%= artwork.image %>" alt="<%= artwork.name %>">
      <div class="card-block">
      <p><%= artwork.title %></p><br>
      <p><%= artwork.user %></p><br>
    </a>
  </div>
  </div>
<% }) %>
