<div class="container">
  <div>
      <img src="<%= artwork.imageSRC %>">
  </div>
  <div>
    <h2><a href="/users/<%= artwork.createdBy.id %>" data-id="<%= artwork.id %>"><%= artwork.createdBy.username %></a></h2>
    <p><%= artwork.caption %></p>
    <% artwork.keywords.forEach((keyword) => { %>
      <input type="checkbox" name="keywords" value="<%= keyword %>"><%= keyword %>
    <% }) %>
    <a href="/artworks/<%= artwork.id %>/history" class="history">Get related artworks</a>
    <hr/>
    <form method="POST" action="/artworks/<%= artwork.id %>">
      <a href="/artworks/<%= artwork.id %>/edit" class="btn btn-success">Edit Post</a>
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-success">Delete</button>
    </form>
  </div>
</div>
