<div class="container center formBorder">
      <img class="img-fluid max-width:100%; height: auto;" src="<%= artwork.imageSRC %>">
  <div>
    <h2 class="center"><a href="/users/<%= artwork.createdBy.id %>" data-id="<%= artwork.id %>"><%= artwork.createdBy.username %></a></h2>
    <p class="center captionText"><%= artwork.caption %></p>
    <% artwork.keywords.forEach((keyword) => { %>
      <div class="center captionText">
      <input type="checkbox" name="keywords" value="<%= keyword %>"><%= keyword %>
      </div>
    <% }) %>


    <div class="center">
      <a href="javascript: void(0)" class="btn btn-primary marginTop history">History Book</a>
    </div>

    <hr/>
    <form method="POST" action="/artworks/<%= artwork.id %>">
      <a href="/artworks/<%= artwork.id %>/edit" class="btn btn-success">Edit Post</a>
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-success">Delete</button>
    </form>
  </div>
</div>
