<div class="columns">
  <div class="column is-two-thirds">
      <img src="<%= post.imageSRC %>">
  </div>
  <div class="column is-one-third">
    <h2 class="subtitle"><a href="/users/<%= post.createdBy.id %>"><%= post.createdBy.username %></a></h2>
    <p><%= post.caption %></p>
    <hr/>
    <form method="POST" action="/posts/<%= post.id %>">
      <a href="/posts/<%= post.id %>/edit" class="button">Edit Post</a>
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger">Delete</button>
    </form>
  </div>
</div>
